node_modules
.env
.DS_Store
._.DS_Store
/**/.DS_Store
/**/**/.DS_Store
**/._.DS_Store
.DS_Store
legacy/.DS_Store
Repositories/.DS_Store
facetec_front/node_modules
Desktop.ini
.vscode

# Test coverage reports
coverage/
coverage-*.json
*.lcov

Repositories/Wallet/.DS_Store
Repositories/ZelfProof/.DS_Store
Repositories/.DS_Store
Repositories/PGP/.DS_Store
Repositories/Session/.DS_Store
Repositories/Wallet/.DS_Store
Repositories/ZelfProof/.DS_Store
Repositories/etherscan/.DS_Store
Repositories/Mail/.DS_Store
Repositories/Subscribers/.DS_Store
Repositories/Wallet/.DS_Store
Repositories/Wallet/.DS_Store
Repositories/.DS_Store
Repositories/Session/.DS_Store
Repositories/.DS_Store
Repositories/ZelfProof/.DS_Store
Repositories/Subscribers/.DS_Store
Repositories/Wallet/.DS_Store
Repositories/ZelfProof/.DS_Store
Repositories/etherscan/.DS_Store
Repositories/PGP/.DS_Store
Repositories/Mail/.DS_Store
Repositories/etherscan/.DS_Store
Repositories/Wallet/.DS_Store
config/zelfenterprise-1736433616837-5ced6f74460f.json
Repositories/Client/.DS_Store
config/0024901011.json
config/0012589021.json
cache/official-licenses-cache.json
config/google_key.json
config/gemini_key.json

Avalanche/artifacts/
Avalanche/cache/
